.root {
   display: flex;
   flex-direction: column;
   align-items: center;
   border: none;
   border-radius: 40px 5px;
   background-color: #5F6F94;
   width: 312px;
   height: 400px;
   box-shadow: 7px 10px 15px 1px #25316D;
   color: #25316D;
}

@media (min-width:960px) {
   .root {
      width: 320px;
   }
}

/* .root:hover{
   transition: 3s all;
   transform: scaleX(1) scaleY(1) scaleZ(1) rotateX(360deg) rotateY(0deg) rotateZ(0deg) translateX(0px) translateY(0px) translateZ(0px) skewX(0deg) skewY(0deg);
} */

.image-cont {
   width: 100%;
   height: 60%;
   overflow: hidden;
}

.image {
   width: 100%;
   height: 100%;
   border-radius: 40px 5px;
}

.ubi-and-description-cont {
   padding-left: 4px;
   padding-right: 4px;
}

.name {
   margin: 0;
}

.ubi {
   margin: 0;
}

/* .ubication-cont {} */

.hovers {
   display: none;
}

/* .description-cont {} */

.buttons-cont {
   display: flex;
   justify-content: space-around;
   gap: 10px;
}

.button {
   width: 100%;
   border: none;
   border-radius: 25px;
   background-color: #97D2EC;
   font-weight: bold;
   color: #25316D;
   padding: 0px 30px 0px 30px;
   cursor: pointer;
   transition: all 500ms;
}

.button:hover {
   background-color: #5f96ad;
}


.delete-cont {
   display: flex;

   margin-top: 5px;
   margin-bottom: 5px;

}

.delete-button {
   width: 100%;
   padding: 0px 55px 0px 55px;
   border: none;
   border-radius: 25px;
   color: #25316D;
   background-color: #5F6F94;
   font-weight: bold;
   cursor: pointer;
   text-decoration: underline;
}



@media (min-width:960px) {
   /* .description-cont{
      display: none;
   } */

   .root:hover .description-cont {
      transition: 1s all;
      display: block;
   }
}



@media (min-width:960px) {

   .buttons-cont {
      display: none;
   }

   .delete-button {
      display: none;
      text-decoration: none;
   }

   .hovers {
      display: none;
      background-color: #25316D;
      height: 400px;
      width: 330px;
      position: absolute;
      border-radius: 40px 5px;
   }

   .root:hover .hovers {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }

   .root:hover .buttons-cont {
      display: flex;

   }

   .root:hover .delete-button {
      display: block;
      transition: all 500ms;
   }

   .root:hover .delete-button:hover {
      background-color: #303d59;
      color: #FEF5AC;
   }


}