.home-button {
   background-color: #5F6F94;
   padding: 25px 75px;
   border: none;
   border-radius: 45px;
   text-align: center;
   font-size: 20px;
   margin: 0 auto;
   color: #25316D;
   font-weight: bold;
   cursor: pointer;
   transition: all 500ms;
}

.home-button:hover {
   background-color: #303d59;
   color: #FEF5AC;

}